<section id="about">
  <div class="container">
    <header>
      <h1>Hi, I'm Eric</h1>
      <h2>A full stack designer living in Southern California.</h2>
    </header>
  </div>
  <div class="row">
    <div class="center_quote">
      <p>
        I'm on <a href="http://dribbble.com/ehayes">Dribbble</a>,
        <a href="http://twitter.com/ehayes">Twitter</a>,
        &amp; <a href="http://github.com/hayesr">Github</a>. But why complicate it? <a href="mailto:eric@erichayes.net">Email me</a>.
      </p>
    </div>
  </div>
  
</section>