<section id="resume">
  <div class="container">
    <header>
      <h1>Eric Hayes</h1>
      <h2>A web designer / developer from Southern California</h2>
    </header>
  </div>
  <div class="row">
    <div class="span8">
      
	    <h3>Recent Projects</h3>
	    <ul>
	      <li>
	        Built a Rails application that provides a web
	        interface that allows users to update information online. 
	        Data is stored in a modern document store immediately,
	        then synced with a legacy MS SQL backed application.
	        <em>Used: Rails, MongoDB, Twitter Bootstrap, jQuery, Delayed Job, Devise with OAuth.</em>
	      </li>
	      <li>
	        Began a simple Rails CMS for schools.
	        <em>Used: Rails, MongoDB, Devise, jQuery, Mercury Editor.</em> 
	      </li>
	    </ul>
      
	    <h3>Skills and Certifications</h3>
      
	    <ul>
	      <li>Built standards based websites since 2004</li>
	      <li>Worked with Apache, PHP and MySQL since 2003</li>
	      <li>Learning and using Ruby and Ruby on Rails in various projects for about 6 years</li>
	      <li>Built many sites using a CMS including Wordpress, Drupal, and Concrete5</li>
	      <li>Developed custom modules for Drupal and blocks for Concrete5</li>
	      <li>I have two certifications in Linux: LPIC and RHCT</li>
	    </ul>
      
      <h3>Major Employment Periods</h3>
      
      <article>
  	    <h4>Saugus Union School District</h4>
  	    <h5>Senior Tech Systems Engineer <span>2008 &ndash; Present</span></h5>
  	    <p>Systems development for a district of 15 schools.</p>
  	    <ul>
  	      <li>
            Setup, deploy, and manage servers for 15 sites.
  	      </li>
  	      <li>Design and develop district websites</li>
  	      <li>Build web applications as needed</li>
  	      <li>Support 3 student information systems</li>
  	      <li>Compile student and staff information for state reporting</li>
  	    </ul>
      </article>
      
      <article>
  	    <h4>Saugus Union School District</h4>
  	    <h5>IT Support Tech <span>2005 &ndash; 2008</span></h5>
  	    <p>Tech support for a district of 15 schools</p>
  	    <ul>
  	      <li>Moved our static website to a CMS (Drupal)</li>
  	      <li>Built simple web applications</li>
  	      <li>Provided general support for about 1,000 computers</li>
  	    </ul>
      </article>
      
      <article>
  	    <h4>Lancaster Baptist Church</h4>
  	    <h5>Media Designer <span>1999 &ndash; 2005</span></h5>
  	    <p>Worked in the Graphics Department for this church of 3,000 members.</p>
  	    <ul>
  	      <li>
  	        Designed, developed and maintained websites for 4 ministries, 
  	        including the main church website, the site for our Bible college,
  	        a media site which hosted sermons, and a simple commerce site for
  	        the <em>Striving Together</em> publication ministry 
  	      </li>
  	      <li>
  	        Prepared weekly PowerPoint presentations and led a small team that ran
  	        service visuals for three services a week.
  	      </li>
  	      <li>
  	        Designed the church logo and co-developed church-wide visual identity.
  	      </li>
  	      <li>
  	        Designed motion graphics and edited videos for various events. 
  	      </li>
  	    </ul>
      </article>
      
      <h3>Additional Positions Held</h3>
      
  	  <article class="period">
  	    <h4>West Coast Baptist College</h4>
  	    <h5>Instructor <span>2007 &ndash; 2009</span></h5>
  	    <p>Taught Basic Design and Web Development night classes.</p>
  	  </article>
	  
  	  <article class="period">
  	    <h4>Team Legal</h4>
  	    <h5>Manager of Technology <span>May &ndash; October 2008</span></h5>
  	    <p>Managed technology related matters for two small businesses.</p>
  	    <ul>
  	      <li>Designed and maintained websites for Team Legal and Batza &amp; Associates</li>
  	      <li>Shot and edited legal depositions</li>
  	      <li>Introduced redundancy and backup systems</li>
  	    </ul>
  	  </article>
	  
  	  <article class="period">
  	    <h4>Designs on Demand</h4>
  	    <h5>Primary Designer <span>February &ndash; July 2005</span></h5>
  	    <p>Designed websites, logos, and brochures for this small business.</p>
  	  </article>
      
    </div>
    <div class="span4">
      <h5>Connect</h5>
    	<ul class="sidenote">
    		<li id="twitter">
    			<a href="http://twitter.com/ehayes"><span>@ehayes on Twitter</span></a>
    		</li>
    		<li id="dribbble">
    			<a href="http://dribbble.com/ehayes"><span>ehayes on Dribbble</span></a>
    		</li>
    		<li id="github">
    		 <a href="https://github.com/hayesr"><span>hayesr on Github</span></a>
    		</li>
    		<li id="facebook">
    			<a href="http://www.facebook.com/ericalanhayes"><span>Eric Hayes on Facebook</span></a>
    		</li>
    	</ul>
    </div>
  </div>
	
	
	

	

</section>