nav{ 
  float: right;
  > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      float: left;
      line-height: 1;
      a{
        font-family: "museo-sans-1","museo-sans-2";
        display: block;
        font-weight: bold;
        padding: 0 1em 3px 0;
        border-bottom: none;
        color: $type;
        &:hover{
          color: $link;
          border-bottom: none;
        }
      }
    }
  }
}