$type: #444;
$link: #2b6988;
$page: #f2f1f0;
$body: #b8baba;

@import 'mixins';
@import 'normalize';
* { @include box-sizing(border-box); }
@import 'grid';
@import 'type';
@import 'nav';

body{ 
  padding:0;
  margin: 0;
  background: $body;
}

a{
  color: $link;
  text-decoration: none;
  border-bottom: 1px solid fade-out($link, 0.2);
  &:hover{
    color: darken($link, 20%);
    border-bottom: 1px solid darken($link, 10%);
  }
}

#page{
  background-color: $page;
  padding: 6em 0;
  margin: 1em auto 6em auto;
  max-width: 1002px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

#page > header{
  position: absolute;
  top: 1em;
  padding: 3em 0 1em 0;
  z-index: 99;
  width: 100%;
  max-width: 1002px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transition-property: all;
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: all;
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-in-out;
  h1{
    font-size: 16px;
    padding: 0;
    margin: 0;
    a{
      color: $type;
      border-bottom: none;
      &:hover{
        color: $link;
      }
    }
  }
  &.stick{
    position: fixed;
    top: 0;
    background-color: fade-out($page, 0.05);
    border-bottom: 2px solid rgba(0,0,0,0.2);
//    @include box-shadow(0 1px 3px rgba(0,0,0,0.4));
  }
}

@media only screen and (max-width: ($screenSmall - 1)) {
  #page{
    padding-top: 1em;
  }
  #page > header{
    position: relative;
    top: 0;
    padding-top: 1em;
    h1{
      border-bottom: 1px solid $type;
      padding-bottom: 1em;
    }
    nav{
      float: none;
      padding: 0 0 1em 0;
      @include clearfix;
      ul{
        li{
          float: none;
          margin: 0;
          a{
            padding: 1em 0;
            border-top: 1px solid #fff;
            border-bottom: 1px solid $type;
          }
        }
      }
    }
    &.stick{
      position: relative;
      top: 0;
    }
  }
}

.banner{
  background-color: #040520;
  background: image-url("blur-back3.jpg") no-repeat 50% 12%;
  background-size: cover;
  color: #fff;
  margin-bottom: 2em;
  min-height: 32em;
  padding-top: 10em;
  h1,h2{
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
  h1{ 
    font-size: 89px;
    border-bottom: 1px solid fade-out(#fff, 0.5);
    margin-bottom: 0.35em;
    padding-bottom: 0.2em;
  }
  h2{
    font-size: 26px;
//    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",georgia,serif;
    font-style: italic;
  }
}

@media only screen and (max-width: ($screenSmall - 1)) {
  .banner{
    padding: 4em 0;
    min-height: 16em;
    h1{
      font-size: 68px;
      margin-bottom: 0.2em;
    }
    h2{
      line-height: 1.2;
    }
  }
}

.features{
  img{
    border: 3px solid #fff;
    @include box-shadow(0 1px 1px rgba(0,0,0,0.2));
  }
}

.feature{
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  &:last-child{
    border-bottom: none;
  }
  a{
    color: $type;
    &:hover{
      color: darken($type, 20%);
    }
    a{
      color: $link; // Link-ception
    }
  }
  h4{
    margin: 0;
    small{
      display: none;
      text-align: right;
      padding-left: 1em;
      color: $type;
      font-weight: 300;
    }
  }
  &:hover{
    background: darken($page, 5%);
    small{
      display: inline-block;
    }
  }
}

.portrait.feature{
  text-align: center;
  padding: 1em 32px;
  border-bottom: none;
}

@media only screen and (max-width: ($screenSmall - 1)) {
  .feature{
    h4{
      margin: 1em 0;
    }
  }
  .portrait.feature{
    border-bottom: 1px solid fade-out($type, 0.9);
    margin-bottom: 2em;
  }
}

.span7.centered{
  h3{
    margin: 2em 0;
  }
}

#final{
  img{
    border: 6px solid #fff;
    margin-bottom: 2em;
  }
  h4{
    margin:0;
  }
}

img.ghost{
  display: none;
}